* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
li {
   list-style: none;
}

.page {
   height: 100vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#login-page {
   display: none;
   background-color: #fff;
}

#login-name-input {
   width: 100%;
   max-width: 400px;
   border: 2px solid #000;
   border-radius: 5px;
   background-color: #ccc;
   font-size: 18px;
   padding: 10px;
   outline: none;
}

#chat-page {
   display: flex;
}

.chat-area {
   flex: 1;
   width: 100%;
   display: flex;
   background-color: #ccc;
}

.chat-list {
   flex: 1;
   background-color: #fff;
}

.user-list {
   width: 200px;
   background-color: #ECF0F1;
}

.chat-input {
   width: 100%;
   display: flex;
}

#chat-text-input {
   flex: 1;
   height: 40px;
   padding: 0 10px;
   font-size: 15px;
   background-color: #F5F5F5;
   outline: none;
   border: none;
}